### input and output methods
- reading the data are information from the user----***input()***
    - static input
    -dynamic input
- displaying the information or data to the user----***print()***

In [1]:
a=20
b=30
print(a)
print(b)

20
30

In [2]:
a=input()
a

rajesh

'rajesh'

In [3]:
a=input()
a

345

'345'

In [4]:
a=input("enter user value")
a

enter user value234

'234'

In [5]:
a=float(input("enter user value"))
a

enter user value256.0

256.0

In [6]:
a=input("enter value")
print(a)

enter value256
256

In [9]:
a=20
b=30
c=50
print(a,b,c,sep=",",end="%")

20,30,50%

In [8]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [11]:
a=20
b=30
c=50
print(a,b,c,sep=",",end="\n")
print(c)

20,30,50
50

In [15]:
# generate the three values from the user that values separated with $ and end with %
a=input("enter a value")
b=input("enter b value")
c=input("enter c value")
print(a,b,c,sep="$",end="% \n ")
print(a,b,c)

enter a value5
enter b value6
enter c value7
5$6$7%
 5 6 7

### operaters
- arithametic operaters(+,-,*,**,/,//,%)
    - output for the normal division is quotient
    - output for the int division or floor division is integer part of the quotient
    - output for the modulo division is reminder
-assignment operaters(=)
-comparision operaters(<,>,<=,>=,==)
-logical operaters(and,or,not)
-bitwise opertater(&,|,^)
-identity operaters(is (==),isnot(!=)
-memebership operaters(in,notin)

### arithmatic operaters

In [17]:
a=2
b=3
print("addition",a+b)
print("subtraction",a-b)
print("multiplication",a*b)
print("power",a**b)
print("division",a/b)
print("int division or floor division",a//b)
print("modulo division",a%b)

addition 5
subtraction -1
multiplication 6
power 8
division 0.6666666666666666
int division or floor division 0
modulo division 2

### Assignment operaters
- it represented with =
- leftside value of the operater(=) is called as variable
- rightside value of the variable (=) is called a value

In [18]:
a=20
b=59
print(a)
print(b)

20
59

### Comparation operaters

In [19]:
2>6

False

In [20]:
2<6

True

In [21]:
if 2>9 and 2<=6:
    print("print true or fals")
else:
    print("rajesh")

rajesh

In [22]:
2>=7

False

In [23]:
3<=5

True

### Logical operaters
- and, or, not
- if all the inputs are true the output is true(true)
- if any of the input is true the output is true(or)
- opposite operation for the given one.

In [24]:
2<5 and 3>6

False

In [25]:
2>5 and 3<6

False

In [27]:
3<9 and 4>0

True

In [28]:
4<8 or 5>2

True

In [29]:
5>9 and 8<3

False

In [30]:
a=100
not a

False

### Bitwise operaters
-

In [31]:
2 & 3
# 2- 0 0 1 0
# 3- 0 0 1 1
-------------
# - 0 0 1 0

2

In [32]:
3|4

7

In [33]:
2>>3

0

In [34]:
2<<3

16

### Identity operater

In [35]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\Lab\AppData\Local\Temp/ipykernel_4860/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\Lab\AppData\Local\Temp/ipykernel_4860/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [36]:
a==100 and a!=100

False

### Membership operater

In [37]:
s=[1,2,4,6,8,9]
4 in s

True

In [40]:
10  not in s

True

In [41]:
2 not in s

False

In [42]:
a=20
a+=1
a

21

In [43]:
a=45
# a+=1---------->a=a+1

In [45]:
a=45
a/=1
a

45.0

### Flow controls
- conditional statements(if,else,elif,nestefif)
- loops(for,while)
- break,return

In [ ]:
# c-language
if(condition){
    print(a)
}

### Conditional statements

In [ ]:
# simple if
if (condition):
    statement1
    statement2
    statement3
    ----------
    statementn

In [ ]:
# if else
if(condition):
    True statement block
    statement1
    statement2
    statement3
    statementn
    ----------
else:
    False block statement
    statement2
    ----------
    statementn

In [46]:
if(0<7):
    print("given number is positive")

given number is positive

In [49]:
if 2<3:
    print("True")
else:
    print("False")

True

In [51]:
# given number is even or odd
n=int(input("enter the number"))
if(n%2==0):
    print("even number")
else:
    print("odd number")

enter the number23
odd number

In [54]:
# given number is zero or positive or negativ
n=int(input("enter a value"))
if(n==0):
    print("given number is zero")
elif(n>0):
    print("positive")
else:
    print("negative")

enter a value-2
negative

In [57]:
# number is divisible by 2 but not divisible by 10
n=int(input("enter n value"))
if(n%2==0 and n%10!=0):
    print("valid number")
else:
    print("invalid number")

enter n value16
valid number

### Range
- syntax for the range is range(start,endvalue,stepvalue)
- starting value is inclusive and end value is exclusive

In [ ]:
range(start,end,step)

In [ ]:
range(10,20,1)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
# 20 25,30,35,40
range(50)
# consider end value and start value
# reverse print
range(10,1,-1)

In [58]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [59]:
list(range(20,30,2))

[20, 22, 24, 26, 28]

In [60]:
list(range(20,41,4))

[20, 24, 28, 32, 36, 40]

In [61]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

### loops
- for,while
- for loop:::A for loop in python is a control flow statement that is used to repeatedly execute a group of statements as long as the condition is satisfied. such a btype of statements is also known as a iterative statement threfore, a for loop is an iterative statement

In [ ]:
syntax:::
            for iter in iterable: # range predefined function in the position of iterable
                statement1
                statement2
                statementn

In [2]:
for i in  range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in  range(5):
    print(i,end=",")

0,1,2,3,4,

In [4]:
for i in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [7]:
# print the even numbers in the range 0 to 100
# and print even number count
c=0
for i in range(0,101,2):
    c=c+1
    print(i,end=" ")
print("\n even number count",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even number count 51

In [8]:
c=0
for i in range(0,101):
    if i%2==0:
        c=c+1
        print(i,end=" ")
print("\n even number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even number count: 51

In [9]:
# print leap years from the range of 2000 to 2020,print yeras
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if (i%400==0)and(i%100!=0)or(i%4==0):
        c=c+1
        print(i,end=" ")
print("\nyears count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
years count: 6

In [12]:
# print leap years from the range of 2000 to 2020,print yeras
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if i%4==0:
        c=c+1
        print(i,end=" ")
print("\n year count:",c)

2000
2020
2000 2004 2008 2012 2016 2020
 year count: 6

In [13]:
n=5
for i in range(1,11):
    print(n, "*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
# factors of 5
n=int(input())
for i in range (1,n+1):
    if(n%i)==0:
        print(i,end=" ")

10
1 2 5 10

In [19]:
# I/p=aba
# 97+98+97=292
# o/p 292
a=input()
s=0
for i in a:
    s=s+ord(i)
print(s)

Rajesh
605

In [20]:
# check the given number is prime or not
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print("prime number")
else:
    print("not prime number")

5
prime number

In [22]:
# 0-10
# even numbers:
# odd number:
n=int(input())
m=int(input())
print("even numbers")
for i in range(n,m+1):
    if(i%2==0):
        print(i,end=" ")
print("\n odd numbers are:",end=" ")
for i in range(n,m+1):
    if i%2!=0:
        print(i,end=" ")

1
10
even numbers
2 4 6 8 10
 odd numbers are: 1 3 5 7 9