### while
- it exicutes block or set of instructions unit(1) the condition is false
- while we dont the range
- execute faster than the for loop
- user incrementation

In [ ]:
#while syntax
initialization
while condition:
    statements
    incr/decrement

In [1]:
n=1
while n<=5:
    print("vasavi collage")
    n=n+1

vasavi collage
vasavi collage
vasavi collage
vasavi collage
vasavi collage

In [2]:
# 10 to 1 numbers 
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [3]:
# i/p 1234
# o/p digit count:4
s=int(input())
c=0
while(s!=0): #1234!=0 123!=0 12!=0 1!=0
    c=c+1    #1234!=4 123%10=3 12%=0 1!=0
    s=s//10
print("\n digit count:",c)

12345

 digit count: 5

In [4]:
# check the given is palindrom 
# 121--121
# mom-mom
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not a palindrome")

121
palindrome

In [ ]:
# synatx:: nested forloop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statement1
        statement2

In [ ]:
# matrix formate
- ropws,columns
- 2dimenentions
  1 2 3
  1 2 3

In [7]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()# new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [8]:
for row in range(1,6):
    for column in range(1,9):
        print("*",end=" ")
    print()# new line

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [9]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [12]:
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [17]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [21]:
# 1-10
# prime numbers:2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1): #num=1 num=2 num=3 num=4
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0:
            c+=1
    if(c==2):
            print(num,end=" ")

1
10
2 3 5 7

In [25]:
n=int(input())
s=int(input())
for i in range(n,s+1):
    for j in range(1,11):
        print(i,"*",j,"=",i*j)

1
10
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
# nested while
- loop inside another loop

In [ ]:
# syntax
initialization
while condition:
    statements
    incr/decr
    while condition:
        statements
        incr/decr

In [2]:
# 1 to 10 tables
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
        print()
        i+=1

1 * 1 = 1

2 * 2 = 4

3 * 3 = 9

4 * 4 = 16

5 * 5 = 25

6 * 6 = 36

7 * 7 = 49

8 * 8 = 64

9 * 9 = 81

10 * 10 = 100

### jump statements
- we called as unconditional jumps
- break
- continue
- pass

### Break
- terminates the current loop statements
- break is a keyword

In [3]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [4]:
i=1
while(i<=10):
    print(i)
    i+=1
    if(i==6):
        break

1
2
3
4
5

### continue
- it skips only current iteration and continue the next iteration
- continue is also a keyword

In [5]:
for i in range(10):
    if i==6:
        continue
        print("vasavi")
    print(i)

0
1
2
3
4
5
7
8
9

In [8]:
# print odd number using even number condition
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### pass
- it is a keyword
- whwn we need condition scientifically correct need to change another operation
- it is a null operation
- pass statement we use to creat empty classes also

In [9]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

### string
- string is a group of characters
- string is a derived datatype and immutable
- all strings return a new values

In [17]:
a="vasavicollage"
print(type(a))

<class 'str'>

In [18]:
print(len(a))

13

In [19]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

a
v
['a', 'a', 'a', 'c', 'e', 'g', 'i', 'l', 'l', 'o', 's', 'v', 'v']

In [15]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
# slicing syntax::(start:end:step)
# positive indexing(lest to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0:4])
print(s[5:12])
print(s[-1:-5])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pyth
n works

In [25]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
s='vasavi collage'
s="vasavi collage"
s1='''i am from vasavi 
i am rajesh'''
s2="""engineering department"""
print(s1)
print(s2)

i am from vasavi
i am rajesh
engineering department

In [5]:
print(len(s2))

22

In [6]:
p="apssdc workshop"
print(p.capitalize())

Apssdc workshop

In [9]:
n="rajesh"
print(n)
print(n.upper())
print(n.lower())

rajesh
RAJESH
rajesh

In [8]:
m="faculty dovelopmemt program"
print(m)
print(m.title())

faculty dovelopmemt program
Faculty Dovelopmemt Program

In [10]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [13]:
s7="India Is My Counrty"
s7.istitle()

True

In [15]:
s7="India is My Country"
s7.istitle()

False

In [16]:
s8=""
s8.isspace()

False

In [17]:
# isdigit-which is used to identify the digit in a given string
# isalpha-which returns true,alphabets present in a given string
r="python3"
r.isalpha()

False

In [18]:
r.isdigit()

False

In [19]:
s="123456"
s.isalnum()

True

In [20]:
s="python3 is latest version and today is thrsday"
s.split()

['python3', 'is', 'latest', 'version', 'and', 'today', 'is', 'thrsday']

In [22]:
s="python3@is@latest@version@and@todayis@thrsday"
s.split('@')

['python3', 'is', 'latest', 'version', 'and', 'todayis', 'thrsday']

In [23]:
s="python3 is latest version and today is thrsday"
s.split('t')

['py', 'hon3 is la', 'es', ' version and ', 'oday is ', 'hrsday']

In [25]:
s="RAjeSh"
s2=''
for i in s:
    if i.islower():
        s2 +=i.upper()
    else:
        s2 +=i.lower()
print(s2)

raJEsH

In [26]:
#swapcase
s.swapcase()

'raJEsH'

In [27]:
s="python3 is latest version and today is thursday"
s

'python3 is latest version and today is thursday'

In [28]:
#count:: to know the number of
s.count('a')

4

In [29]:
s.index('t') # searching starts from the beginning

2

In [30]:
s.rindex('t') # searching starts from the ending

39

In [31]:
# find--it will return index position of that character
s.find('t')

2

In [32]:
s.index('is')

8

In [34]:
#replace-used to replace the old character
#strip-used to removewhite space by default
d="bye vasavi collage"
d.replace('bye','hi')

'hi vasavi collage'

In [35]:
d="     hello svec"
print(d)

     hello svec

In [36]:
d.strip()

'hello svec'

In [37]:
d.lstrip()

'hello svec'

In [38]:
d.rstrip()

'     hello svec'

In [39]:
# join
# center
# startswich
# endswitch
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [41]:
s="thursday"
'.'.join(s)

't.h.u.r.s.d.a.y'

In [43]:
s.center(1)

'thursday'

In [44]:
s.zfill(10)

'00thursday'

In [46]:
s2="today is the third day"
len(s2)
s2.zfill(25)

'000today is the third day'

In [47]:
s2.startswith('day')

False

In [48]:
s2.endswith('to')

False

In [49]:
s2.startswith('to')

True

In [50]:
s2.endswith('day')

True

### Data structures
-list
  - it is one of the data stucture in python
    - list is mutable
    - represented with []
    - slicing,indexing are same as the string concepts.
     -tuple
     -dictionaries
Dt are two types
-  mutable
  - we can change at any time after its declaration.
      -ex:list,dictionaries
      -immutable
      - we con't chane it once it declared.
      - ex:string,tuple

In [51]:
li=[2,3,4,5,6,7]
print(li)

[2, 3, 4, 5, 6, 7]

In [52]:
len(li)

6

In [53]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 6
max one of the list 7
min one of the list 2

In [57]:
a=['apple',5,8,24.6]
b=[4,8,'today',4]

In [58]:
a+b #concatination

['apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [59]:
b+a

[4, 8, 'today', 4, 'apple', 5, 8, 24.6]

In [60]:
#repetation
a*3

['apple', 5, 8, 24.6, 'apple', 5, 8, 24.6, 'apple', 5, 8, 24.6]

In [61]:
(a+b)*2

['apple', 5, 8, 24.6, 4, 8, 'today', 4, 'apple', 5, 8, 24.6, 4, 8, 'today', 4]

In [62]:
a*2

['apple', 5, 8, 24.6, 'apple', 5, 8, 24.6]

In [63]:
b*2

[4, 8, 'today', 4, 4, 8, 'today', 4]

In [64]:
a in b

False

In [65]:
a not in b

True

In [69]:
names=['rajesh','mahesh','sathish','sai','harish','hai']
names[0]
names[5]

'hai'

In [70]:
names[4]
names[:3]

['rajesh', 'mahesh', 'sathish']

In [72]:
s='rajesh'
s[0]
s[:3] # raj
s[0:3] # raj
s[2:6] # jesh
s[2:] # jesh

'jesh'

In [77]:
li1=['vasavi','collage','student','hostel']

In [78]:
li1[2:]

['student', 'hostel']

In [ ]:
li1[]