# hello
## welcome
### to
#### vasavi
##### cpllage
###### welcome

# italic
*apssdc*

***apssdc&vasavi***

i am from vasavi collage first line  
i am rajesh second line  
i am learning python thirdline

rfio0urpoi[erkrprir-pei0wq[0ei  [0riu[0wi-w9upfiupp

## un orderlist
+ one  
- two  
+ three  
    + four  
    - five  
    * sixe  
        + eight  
        - ninne  
        * ten

## order list& sublist
1. one  
2. two  
3. three  
    4. four  
    5. five  
    6. six  
        7. seven  
        8. eight  
        9. ninne

### comments 
- user readable information  
- it is mention im #  
- for multiple line comment mention in the information """  """

## variable:
- which is used to storing data 
- variable starts with charecters, underscores 
- variable could not start with numbers,special symbols keywords

In [5]:
abc="100"
abc

'100'

### datatypes
- int(all integer value)
- float(integer with decimal point)
- str(combination of charecters)
- complex(number with real are imaginary part)
- boolean(true,false)

In [8]:
a=765
b=54.67
c="appssdc"
d='p'
e=1+2j
f='1+2j'
g=True

In [10]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'str'>

### typecasting
- which converts the data from one datatype to another datatype

In [12]:
_abc=458
print(type(_abc))

<class 'int'>

In [13]:
z=float(_abc)
print(type(z))

<class 'float'>

In [14]:
z=str(_abc)
print(type(z))
print(z)

<class 'str'>
458

In [17]:
abc="vasavi college"
print(type(abc))

<class 'str'>

In [18]:
z=int(abc)
print(type(z))
print(z)

ValueError: invalid literal for int() with base 10: 'vasavi college'

In [19]:
abc="12344567"
z=int(abc)
print(type(z))
print(z)

<class 'int'>
12344567

In [20]:
z=float(abc)
print(type(z))
print(z)

<class 'float'>
12344567.0

In [21]:
z=complex(abc)
print(type(z))
print(z)

<class 'complex'>
(12344567+0j)